.vs/
.idea/


*.exe
!RAGE/updater.exe

*.dll


RAGE/cef/
RAGE/EasyAntiCheat/
RAGE/rui/
RAGE/dotnet/
RAGE/clientdata/
RAGE/server-files/bin/
RAGE/ui/
RAGE/v8/
RAGE/server-files/dotnet/resources/ServerSide/obj/
RAGE/server-files/client_packages/cs_packages/ClientSide/obj/
RAGE/server-files/client_packages/cs_packages/ClientSide/bin/
RAGE/server-files/linux_x64.tar.gz
RAGE/mp.png
RAGE/mp.ico
RAGE/server-files/dotnet/resources/ServerSide/bin/

RAGE/server-files/dotnet/runtime/*
!RAGE/server-files/dotnet/runtime/Bootstrapper.dll

RAGE/server-files/dotnet/server_exceptions.txt
RAGE/server-files/dotnet/server_logs.txt
RAGE/server-files/dotnet/vehicleData.json

